In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [6]:
pok = pd.read_csv('../Documents/course-files/pokemon.csv', usecols=['Name'], squeeze=True)

In [7]:
pok

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [8]:
sorted(pok.head())

['Bulbasaur', 'Charmander', 'Ivysaur', 'Venusaur', 'VenusaurMega Venusaur']

In [9]:
list(pok.head())

['Bulbasaur', 'Ivysaur', 'Venusaur', 'VenusaurMega Venusaur', 'Charmander']

In [10]:
dict(pok.head())

{0: 'Bulbasaur',
 1: 'Ivysaur',
 2: 'Venusaur',
 3: 'VenusaurMega Venusaur',
 4: 'Charmander'}

In [11]:
min(pok)

'Abomasnow'

In [12]:
max(pok)

'Zygarde50% Forme'

In [13]:
pok.name = 'Name of pokemon'

In [14]:
pok.head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name of pokemon, dtype: object

In [20]:
salary = pd.read_csv('../Documents/course-files/StackOverflowDeveloperSurvey.csv', usecols=['Salary'], 
                     squeeze=True).dropna()

In [21]:
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [22]:
len(salary)

12891

In [23]:
min(salary)

0.0

In [24]:
max(salary)

197000.0

In [25]:
list(salary.head())

[113750.0, 100000.0, 130000.0, 82500.0, 100764.0]

In [26]:
dict(salary.head())

{2: 113750.0, 14: 100000.0, 17: 130000.0, 18: 82500.0, 22: 100764.0}

In [33]:
listSalarySorted = sorted(salary, reverse=True)

In [34]:
listSalarySorted[:5]

[197000.0, 195000.0, 195000.0, 195000.0, 195000.0]

In [35]:
salary.name = 'Salary of a person'

In [37]:
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary of a person, dtype: float64