In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

pok = pd.read_csv("../Documents/course-files/pokemon.csv", usecols=['Name'], squeeze=True)

In [2]:
pok[73]

'Machoke'

In [3]:
pok[[64, 73]]

64    Arcanine
73     Machoke
Name: Name, dtype: object

In [4]:
pok[2:7]

2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
5               Charmeleon
6                Charizard
Name: Name, dtype: object

In [10]:
pok[-2:]

798    HoopaHoopa Unbound
799             Volcanion
Name: Name, dtype: object

In [11]:
surveys = pd.read_csv("../Documents/course-files/StackOverflowDeveloperSurvey.csv", usecols=['CompanySize'],
                     squeeze=True)

In [12]:
surveys[3]

'10,000 or more employees'

In [13]:
surveys[1:11]

1           20 to 99 employees
2     10,000 or more employees
3     10,000 or more employees
4           10 to 19 employees
5                          NaN
6           20 to 99 employees
7      Fewer than 10 employees
8     5,000 to 9,999 employees
9                          NaN
10        100 to 499 employees
Name: CompanySize, dtype: object

In [14]:
surveys[12345]

'20 to 99 employees'

In [15]:
surveys[12341:12351]

12341                         NaN
12342    1,000 to 4,999 employees
12343    10,000 or more employees
12344        100 to 499 employees
12345          20 to 99 employees
12346                         NaN
12347     Fewer than 10 employees
12348          20 to 99 employees
12349          20 to 99 employees
12350          20 to 99 employees
Name: CompanySize, dtype: object

In [16]:
surveys.sort_values(inplace=True)

In [17]:
surveys[3]

'10,000 or more employees'

In [18]:
surveys[1:11]

36683    1,000 to 4,999 employees
43105    1,000 to 4,999 employees
43102    1,000 to 4,999 employees
30582    1,000 to 4,999 employees
43072    1,000 to 4,999 employees
43063    1,000 to 4,999 employees
23955    1,000 to 4,999 employees
43060    1,000 to 4,999 employees
43056    1,000 to 4,999 employees
30558    1,000 to 4,999 employees
Name: CompanySize, dtype: object

In [19]:
surveys[12345]

'20 to 99 employees'

In [20]:
surveys[12341:12351]

14554    10,000 or more employees
9429     10,000 or more employees
6384     10,000 or more employees
1102     10,000 or more employees
14549    10,000 or more employees
14547    10,000 or more employees
14570    10,000 or more employees
14575    10,000 or more employees
6410     10,000 or more employees
14576    10,000 or more employees
Name: CompanySize, dtype: object

In [21]:
surveys.reset_index(drop=True, inplace=True)

In [22]:
surveys[3]

'1,000 to 4,999 employees'

In [23]:
surveys[1:11]

1     1,000 to 4,999 employees
2     1,000 to 4,999 employees
3     1,000 to 4,999 employees
4     1,000 to 4,999 employees
5     1,000 to 4,999 employees
6     1,000 to 4,999 employees
7     1,000 to 4,999 employees
8     1,000 to 4,999 employees
9     1,000 to 4,999 employees
10    1,000 to 4,999 employees
Name: CompanySize, dtype: object

In [24]:
surveys[12345]

'10,000 or more employees'

In [25]:
surveys[12341:12351]

12341    10,000 or more employees
12342    10,000 or more employees
12343    10,000 or more employees
12344    10,000 or more employees
12345    10,000 or more employees
12346    10,000 or more employees
12347    10,000 or more employees
12348    10,000 or more employees
12349    10,000 or more employees
12350    10,000 or more employees
Name: CompanySize, dtype: object