In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rd

In [11]:
team = pd.Series(data=[5,3,2,4,3,4,4,5], 
                 index=['Andy', 'Bob', 'Chris', 'Dirk', 'Francis', 'George', 'Henry', 'Ivan'])
team

Andy       5
Bob        3
Chris      2
Dirk       4
Francis    3
George     4
Henry      4
Ivan       5
dtype: int64

In [12]:
notes = pd.Series(data=['C', 'B', 'A', 'A+', 'A++'], index=[1,2,3,4,5])
notes

1      C
2      B
3      A
4     A+
5    A++
dtype: object

In [13]:
team.map(notes)

Andy       A++
Bob          A
Chris        B
Dirk        A+
Francis      A
George      A+
Henry       A+
Ivan       A++
dtype: object

In [7]:
notes_dict = {1:'C', 2:'B', 3:'A', 4:'A+', 5:'A++'}

In [8]:
teamNotes = team.map(notes_dict)

In [9]:
teamNotes

Andy       A++
Bob          A
Chris        B
Dirk        A+
Francis      A
George      A+
Henry       A+
Ivan       A++
dtype: object

In [14]:
python_express = {'PYT001':'Airbus 320', 'PYT002':'Boeing 737', 'PYT003':'Airbus 321'}
python_express

{'PYT001': 'Airbus 320', 'PYT002': 'Boeing 737', 'PYT003': 'Airbus 321'}

In [17]:
aircrafts = pd.Series(python_express)

In [18]:
aircrafts

PYT001    Airbus 320
PYT002    Boeing 737
PYT003    Airbus 321
dtype: object

In [19]:
flightList = [rd.choice(aircrafts.index) for i in range(100)]

In [20]:
flightList[:5]

['PYT002', 'PYT002', 'PYT003', 'PYT002', 'PYT001']

In [22]:
flights = pd.Series(flightList)

In [23]:
flights.head()

0    PYT002
1    PYT002
2    PYT003
3    PYT002
4    PYT001
dtype: object

In [24]:
flights_aircrafts = flights.map(aircrafts)

In [25]:
flights_aircrafts.head()

0    Boeing 737
1    Boeing 737
2    Airbus 321
3    Boeing 737
4    Airbus 320
dtype: object