In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [7]:
pok = pd.read_csv('../Documents/course-files/pokemon.csv', usecols=['Name', 'Attack'], index_col='Name',
                  squeeze=True)

In [9]:
pok

Name
Bulbasaur                 49
Ivysaur                   62
Venusaur                  82
VenusaurMega Venusaur    100
Charmander                52
                        ...
Diancie                  100
DiancieMega Diancie      160
HoopaHoopa Confined      110
HoopaHoopa Unbound       160
Volcanion                110
Name: Attack, Length: 800, dtype: int64

In [10]:
pok.mean()

79.00125

In [14]:
pok.median()

75.0

In [15]:
pok.std()

32.45736586949843

In [18]:
salary = pd.read_csv('../Documents/course-files/StackOverflowDeveloperSurvey2018.csv', low_memory=False,
                    usecols=['ConvertedSalary'], squeeze=True).dropna()

In [20]:
salary.mean()

95780.86178776571

In [21]:
salary.median()

55075.0

In [22]:
salary.std()

202348.21562528735

In [25]:
salary.max()

2000000.0

In [31]:
fortune500 = pd.read_csv('../Documents/course-files/Fortune_500_2017.csv', usecols=["Title", "Employees"], 
                         index_col='Title')

In [34]:
fortune500.idxmax()

Employees    Walmart
dtype: object

In [35]:
fortune500.max()

Employees    2300000
dtype: int64

In [36]:
fortune500.idxmin()

Employees    A-Mark Precious Metals
dtype: object

In [37]:
fortune500.min()

Employees    83
dtype: int64