In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

pok = pd.read_csv('../Documents/course-files/pokemon.csv', usecols=['Name'], squeeze=True)

In [2]:
pok.head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [3]:
salary = pd.read_csv('../Documents/course-files/StackOverflowDeveloperSurvey.csv', usecols=['Salary'], 
                     squeeze=True).dropna()

In [4]:
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [5]:
salary.sort_values(ascending=False).head()

31600    197000.0
27943    195000.0
6743     195000.0
41398    195000.0
1696     195000.0
Name: Salary, dtype: float64

In [6]:
salary.sort_values().head()

51144    0.0
23953    0.0
23907    0.0
44841    0.0
2951     0.0
Name: Salary, dtype: float64

In [7]:
salary.sort_values(ascending=False, inplace=True)

In [8]:
salary.head()

31600    197000.0
27943    195000.0
6743     195000.0
41398    195000.0
1696     195000.0
Name: Salary, dtype: float64

In [9]:
salary.sort_index(ascending=False)

51390     40000.000000
51387     58000.000000
51382     32258.064516
51378    107526.881720
51371     74193.548387
             ...
22       100764.000000
18        82500.000000
17       130000.000000
14       100000.000000
2        113750.000000
Name: Salary, Length: 12891, dtype: float64

In [10]:
maxSalaries = salary.head(100)

In [11]:
minSalaries = salary.tail(100)

In [12]:
maxSalaries.mean()

180198.1045586777

In [13]:
minSalaries.mean()

67.08388907133794

In [14]:
filter_salary = salary != 0.0

In [15]:
salary.where(filter_salary, inplace=True)
salary.dropna(inplace=True)
salary

31600    197000.000000
27943    195000.000000
6743     195000.000000
41398    195000.000000
1696     195000.000000
             ...
29459         0.044046
9133          0.044046
30627         0.044046
23414         0.029364
9082          0.014682
Name: Salary, Length: 12885, dtype: float64

In [16]:
min_avg = salary.tail(100).mean()

In [17]:
min_avg

80.06876647553702